*::before,
*,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #f15c38;
    --blue: #3676fb;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf')  format('truetype')
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
      url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
      url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    margin-right: .3em;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    display: flex;
    background: #dedede;
    overflow: hidden;
}

main {
    width: 100%;
    display: flex;
}

#side-menu {
    min-width: 200px;
    max-width: 325px;
    width: 20%;
    background: #333333;
    color: #ffffff;
    transition: All ease-in-out 200ms;
}

.menu-hidden {
    min-width: 0!important;
    width: 0!important;
    opacity: 0;
}

.nav-logo {
    height: 50px;
    background: #dd5533;
    display: flex;
    align-items: center;
    justify-content: center;
}

#side-nav {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    padding: 1em 0;
}

#side-nav li {
    padding: .65em 1em;
    margin-bottom: .1em;
    display: flex;
    align-items: center;
    transition: ease 150ms;
}

#side-nav li:hover {
    background: #222222;
    font-weight: 700;
}

.active {
    background: #222222;
    padding-left: .7em!important;
    border-left: .3em solid var(--orange);
    font-weight: 700;
}

.side-nav-bottom-element {
    margin-top: auto;
}


#main {
    width: 100%;
}


#header {
    height: 50px;
    display: flex;
    background: var(--orange);
    width: 100%;
    padding: .5em 3em;
    align-items: center;
    justify-content: space-between;
}

#burger-menu {
    cursor: pointer;
}

.user {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user:hover {
    font-weight: 700;
}

.user img {
    height: 35px;
    margin-right: .5em;
    border-radius: 100%;

}


#main-content {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
}

.container {
    background: #ffffff;
    border-radius: .7em;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
}

.crud-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}